body {
    background-color: rgba(0,0,0,0.17);
}

#boardTable{
  background-color: rgba(0,0,70,0.3);
  border-spacing: 9px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.blurred {
  opacity: 0.4;
}

#boardTable td {
	width: 90px;
	height: 90px;
	background-color: rgba(0,0,70,0.15);
  border-radius: 5px;
  font-size: 80px;
  text-align: center;
  /*font-weight: bold;*/
  font-family: Sans-serif;
  /*border: 5px none rgba(0,0,70,0.15);*/
}

#insructions {
  /* height: 15vh; */
}

#board {
  position: relative;
}

#boardTableDiv {
  position: absolute;
}

#gameOverText {
  position: absolute;
}

.letterPhoto {
  width: 32px;
  height: 32px;
}
